# Compiled Go binaries
Clara
*.exe

# Dependency directories
vendor/

# Local certificate cache
certs/

# OS-specific files
.DS_Store
Thumbs.db

_testing/

clara-darwin-amd64
clara-linux-amd64
clara-windows-amd64.exe
